<div class="container">
  <hr>
  <hr>
  <div class="row">
    <div class="add-new">
      <%= link_to t('.Back', :default => t("helpers.links.back")), admin_services_path, :class => 'btn btn-primary', style: "color:#fff" %>
    </div>
  </div>
  <hr>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Create Sub Service</h3>
    </div>
    <div class="panel-body">
      <%= form_for @sub_service, :url => admin_services_path, :html => { :class => "form-horizontal sub_service", :id => "sub_service_form" } do |f| %>

        <% if @sub_service.errors.any? %>
          <div id="error_expl" class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title"><%= pluralize(@sub_service.errors.count, "error") %> prohibited this sub_service from being saved:</h3>
            </div>
            <div class="panel-body">
              <ul>
              <% @sub_service.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <%= f.label :name, :class => 'control-label col-lg-2' %>
              <div class="col-lg-10">
                <%= f.text_field :name, :class => 'form-control' %>
                <label for="service_name" class="error-title error"><%#=f.error_span(:name) %></label>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :price, :class => 'control-label col-lg-2' %>
              <div class="col-lg-10">
                <%= f.number_field :price, :class => 'form-control', required: 'true', min: 0, style: "width: 100%;" %>
                <label for="service_price" class="error-title error"><%#=f.error_span(:name) %></label>
              </div>
            </div>
            <div class="form-group">
              <%= f.hidden_field :parent_id, :value => params[:id] %>
            </div>

            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <%= f.submit 'Create Sub Service', :class => 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <script type="text/javascript">
    <%= render "common/validate.js" %>
  </script>
</div>

