.container
  .row
    .add-new
      = back_button_link(sub_services_admin_service_path(:id => @service.parent_id))
  .panel.panel-primary
    .panel-heading
      %h3 Edit Sub Service
    .panel-body
      = form_for [:admin, @service], :url => update_sub_services_admin_service_path, :method => "put", :html => { :class => "form-horizontal sub_service" } do |f|
        - if @service.errors.any?
          #error_expl.panel.panel-danger
            .panel-heading
              %h3.panel-title
                = pluralize(@sub_service.errors.count, "error")
                prohibited this service from being saved:
            .panel-body
              %ul
                - @service.errors.full_messages.each do |msg|
                  %li= msg
        .row
          .col-md-6.col-md-offset-3
            .form-group
              = f.label :name, :class => 'control-label col-lg-2'
              .col-lg-10
                = f.text_field :name, :class => 'form-control'
                %label.error-title.error{:for => "service_name"}
              = f.error_span(:name)
            .form-group
              = f.hidden_field :parent_id, :value => @service.parent_id
            .form-group
              .col-lg-offset-2.col-lg-10
                = f.submit nil, :class => 'btn btn-primary'
