<%- model_class = Service -%>
<!-- <div class="page-header">
  <h1><%#=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div> -->
<div class="main-container">
  <div class="header-container">
    <div class="row">
      <div class="add-new">
            <%= link_to t('.Back', :default => t("helpers.links.back")),
                    admin_services_path,
                    :class => 'btn btn-primary', style: "color:#fff" %>
        </div>
      <div class="top-title">
        <h2>
          <h1>Sub services</h1>
        </h2>
      </div>
      <div class="col-md-xl col-md-offset-10">
        <div class="add-new">
            <%= link_to t('.New', :default => t("helpers.links.new")),
                    create_sub_services_admin_service_path,
                    :class => 'btn btn-primary', style: "color:#fff" %>
        </div>
      </div>
    </div>
          <hr>
  </div>  

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.name %></td>
          <td><%=l service.created_at %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_sub_services_admin_service_path(service), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        admin_service_path(service),
                        :method => :delete,
                        data: { confirm: 'Are you sure?' }, 
                        :class => 'btn btn-xs btn-danger', style: "color:#fff" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
