- model_class = Service
.container
  .row
    .add-new
      = back_button_link(admin_services_path)
    .col-md-xl.col-md-offset-10
      .add-new.right_float
        = link_to t('.New', :default => t("helpers.links.new")), create_sub_services_admin_service_path, :class => 'btn btn-primary'
  .panel.panel-primary
    .panel-heading
      %h3 Sub Services List
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th= model_class.human_attribute_name(:name)
            %th= model_class.human_attribute_name(:created_at)
            %th= t '.actions', :default => t("helpers.actions")
        %tbody
          - @services.each do |service|
            %tr
              %td= service.try(:name).titleize
              %td= l service.created_at
              %td
                = link_to t('.edit', :default => t("helpers.links.edit")), edit_sub_services_admin_service_path(service), :class => 'btn btn-primary btn-xs'
                = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_service_path(service), :method => :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger'
  .pagination
    = will_paginate @services
