.container
  = back_button_link(manage_employees_partner_dashboard_index_path)
  .panel.panel-primary
    .panel-heading
      %h3 Employee Detail
    .panel-body
      = form_for @user, :as => :user, class: 'form-horizontal',:url => partner_user_path(@user), method: 'patch' do |form|
        .row
          .col-sm-6
            = rservice_text_field("first_name", "First Name", form)
        .row
          .col-sm-6
            = rservice_text_field("last_name", "Last Name", form)
        .row
          .col-sm-6
            = form.text_field :email, class: 'form-control form_input', :readonly => true
        .row
          .col-sm-6
            = rservice_text_field("phone", "Phone", form)
        .row
          .col-sm-6
            = rservice_submit_button("Update", form, 'btn-primary')