#myModal2.modal.ab.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.sign{:role => "document"}
    .modal-content.about
      .modal-header.one
        %button.close.sg#close_button{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        .discount.one
          %h3 Sign Up
      .modal-body.about
        .login-top.sign-top.one
          = form_for(resource, as: resource_name, url: create_user_path) do |f|
            .div#display_errors{:style => "display:none;color:red;margin-bottom:15px;"}
            .div
              = f.label :role, "Sign Up As"
              = f.radio_button :role, 'user', :checked => true
              User
              = f.radio_button :role, 'service_provider'
              Partner
            %br
            = f.text_field :first_name, :placeholder => "First Name", :required => true, :class => "name active"
            = f.text_field :last_name, :placeholder => "Last Name", :class => "name active"
            = f.text_field :email, :placeholder => "Email", :required => true, :class => "email"
            = f.password_field :password, :placeholder => "Password", :required => true, :class => "password"
            = f.password_field :password_confirmation, :placeholder => "Confirm Password", :required => true, :class => "password"
            = f.text_field :phone, :placeholder => "Phone", :class => "phone"
            .actions
              = f.submit "Sign up"