<div class="container">
  <div class="row">
    <div class="add-new">
      <%= back_button_link(partner_dashboard_index_path) %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Employee List</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Date Of Joining</th>
            <th>Action</th>
          </thead>
          <tbody>
            <% @employees.each do |employee| %>
              <tr>
                <td><%=employee.full_name %></td>
                <td><%=employee.email %></td>
                <td><%=l employee.invitation_accepted_at %></td>
                <td><%=employee_actions(employee)%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>        