.container
  .row
    .add-new
      = back_button_link(partner_dashboard_index_path)
    .col-md-xl.col-md-offset-10
      .add-new.right_float
        = link_to t('.New', :default => t("helpers.links.new")), new_partner_company_service_path, :class => 'btn btn-primary'
  .panel.panel-primary
    .panel-heading
      %h3 Company Service List
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th City
            %th Name
            %th Price/Hour
            %th Actions
        %tbody
          - @portfolio_services.each do |city_id, port_services|
            %tr
              %td= port_services.last.city.try(:name).titleize
              %td= port_services.map{|m| m.service.name}.join(", ")
              %td= port_services.map{|m| m.price}.join(", ")
              / %td= get_city_name(service.id)
              / %td= service.try(:name).titleize
              / %td
              /   %i.fa.fa-inr
              /   = company_service_price(service)
              / %td= l service.created_at
              / %td
          /       = link_to t('.show', :default => t("helpers.links.show")), admin_service_path(service), :class => 'btn btn-primary btn-xs'
          /       = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_service_path(service), :class => 'btn btn-primary btn-xs'
          /       = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_service_path(service), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
          
  