.col-xs-12
  - addresses.each do |address|
    .col-xs-3.card.text-center.mg-btn
      - if header
        %div.col-xs-12
          %div.pull-right
            = link_to edit_address_path(address),class: 'btn btn-default btn-xs' do
              %span.glyphicon.glyphicon-edit
            = link_to address_path(address),method: "delete",class: 'btn btn-default btn-xs',:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do
              %span.glyphicon.glyphicon-remove
      .card-body
        = radio_button_tag 'service_request[address_id]', address.id, checked: true  if !header
        %br <b>Flat Number:</b> #{address.try(:flat_number)}
        %br <b>Street Name:</b> #{address.try(:street_name)}
        %br <b>City:</b> #{address.city.try(:name)}
        %br <b>Pin Code:</b> #{address.try(:pin_code)}
        - if address.latitude
          %div
            %br <b>Google Address</b> #{address.try(:google_address)}
            =# image_tag google_map([ address.latitude, address.longitude ].join(','))
  - if addresses.blank?
    .alert.alert-warning
      No Address added for selected city Please add Address details to avail the services
