.col-xs-12
  - addresses.each do |address|
    .col-xs-3.card.text-center
      - if header
        %div.col-xs-12
          %div.pull-right
            = link_to "Edit",edit_address_path(address),class: 'btn btn-default btn-xs'
            = link_to "Delete",address_path(address),method: "delete",class: 'btn btn-default btn-xs'
      .card-body
        = radio_button_tag 'service_request[address_id]', address.id, checked: true  if !header
        %br <b>Flat Number:</b> #{address.flat_number}
        %br <b>Street Name:</b> #{address.street_name}
        %br <b>City:</b> #{address.city.name}
        %br <b>Pin Code:</b> #{address.pin_code}
  - if addresses.blank?
    .alert.alert-warning
      No Address added for selected city Please add Address details to avail the services
