<tr>
  <td><%=request.service.try(:name) %></td>
  <% if request.google_address? %>
    <td><%= request.google_address %></td>
  <% else %>
    <td><%=request.address.complete_address %></td>
  <% end %>
  <td class='<%=(request.status.try(:name) == "Cancelled") ?  'alert alert-danger' : '' %>'><b><%=request.status.try(:name) %></b></td>
  <td><%=request.portfolio.try(:portfolio_with_user_name_and_about) %></td>
  <td><%=request.try(:time_slot).try(:start_time_with_end_time) %></td>
  <td><%=request.service_request_number %></td>
  <td><%=user_actions(request) %></td>
  <td><%= link_to t('.show', :default => t("helpers.links.show")),service_request_path(request), :class => 'btn btn-primary btn-xs' %>
  </td>  
</tr>