<tr>
  <td><%=request.service.try(:name).titleize %></td>
  <td><%=request.user_address %></td>
  <td><%=request.portfolio.try(:portfolio_with_user_name_and_about) %></td>
  <td><%=request.try(:time_slot).try(:start_time_with_end_time) %></td>
  <td><%=request.service_request_number %></td>
  <td><b><%=request.status.try(:name) %></b></td>
  <td><%=user_ratings(request) %></td>
  <td><%=user_actions(request) %></td>  
</tr>