.container
  .row
    .add-new
      = back_button_link(service_requests_path)
  .panel.panel-primary
    .panel-heading
      %h3 Service Request Detail
    .panel-body
      .row
        .col-sm-3
          %p
            = reservice_value_printer(t('.service_request_number'), @service_request.service_request_number)
        .col-sm-3
          %p
            = reservice_value_printer(t('.service'), @service_request.service_name)          
        .col-sm-3
          %p
            = reservice_value_printer(t('.service_due_date'), @service_request.service_date.present? ? @service_request.service_date.strftime("%d/%m/%Y") : "-")              
        .col-sm-3
          %p
            = reservice_value_printer(t('.time_slot'), @service_request.service_time)
        .col-sm-3
          %p
            = reservice_value_printer(t('.status'), @service_request.service_status)
        .col-sm-3
          %p
            = reservice_value_printer(t('.assignee'), @service_request.assignee_details)    
        - if @service_request.feedback.present?   
          .col-sm-3
            %p
              = reservice_value_printer(t('.remarks'), @service_request.feedback.description)
          .col-sm-3
            %p
              = user_ratings(@service_request)
      .row
        .col-sm-3
          %b Address:
          %br
          = reservice_value_printer(t('.flat_number'), @service_request.flat_number)
          %br
          = reservice_value_printer(t('.street_name'), @service_request.street_name)
          %br
          = reservice_value_printer(t('.city'), @service_request.city.name)
          %br
          = reservice_value_printer(t('.pin_code'), @service_request.pin_code)
      .row
        .col-sm-10
          = reservice_value_printer(t('.comments'), @service_request.comment)