.main-container
  .row
    = link_to t('.Back', :default => t("helpers.links.back")),service_requests_path,:class => 'btn btn-primary'
  .header-container
    .row
      .col-sm-3
        %p
          %b Service Request Number:
          = @service_request.service_request_number
      .col-sm-3
        %p
          %b Service:
          = @service_request.service.name
      .col-sm-3
        %p
          %b Time Slot:
          = @service_request.time_slot.try(:start_time_with_end_time)
      .col-sm-3
        %p
          %b Status:
          = @service_request.status.name
      - if @service_request.feedback.present?   
        .col-sm-3
          %p
            %b Rating
            = render :partial => "show_rating", locals: {request: @service_request.feedback}
        .col-sm-3
          %p
            %b Remarks:
            = @service_request.feedback.description
    .row
      .col-sm-3
        %b Address:
        %br/
        %b Flat Number:
        = @service_request.flat_number
        %br/
        %b Street Name:
        = @service_request.street_name
        %br/
        %b City:
        = @service_request.city.name
        %br/
        %b Pin Code:
        = @service_request.pin_code
