
<div class="container">
  <hr>
  <hr>
  <%= link_to t('.Back', :default => t("helpers.links.back")),'/',:class => 'btn btn-primary', style: "color:#fff" %>
  <div class="panel panel-primary">
    <div class="panel-heading"><h3>Forgot your password?</h3></div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: send_password_instructions_path(resource_name), html: { method: :post }) do |f| %>
  			<%= devise_error_messages! %>
  			<div class="field">
    			<%= f.label :email %><br />
    			<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  			</div>

  			<div class="actions">
    			<%= f.submit "Send me reset password instructions" %>
  			</div>
			<% end %>
    </div>
  </div>
</div>    





