<div class="panel-heading">
   <h3>Update Company Details</h3>
</div>
<div class="panel-body">
   <%= form_for @portfolio, url: partner_portfolio_path, html: { multipart: true, :class => 'form-horizontal', id: 'company_portfolio_edit' } do |form| %>
   <br/>
   <div class="col-sm-12">
      <div class="col-sm-6">
         <div class="col-sm-4">
            <%= form.label :company_name, "Name", class: 'control-label col-sm-2' %>
         </div>
         <div class="col-sm-8">
            <div class="form-group">
               <%= form.text_field :company_name, class: 'form-control form_input' %>
               <label for="portfolio_company_name" class="error error-title"></label>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="col-sm-4">
            <%= form.label :company_ph_no, "Phone", class: 'control-label col-sm-2' %>
         </div>
         <div class="col-sm-8">
            <div class="form-group">
               <%= form.text_field :company_ph_no, class: 'form-control form_input' %>
               <label for="portfolio_company_ph_no" class="error error-title"></label>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-12">
      <div class="col-sm-6">
         <div class="col-sm-4">
            <%= form.label :experience, class: 'control-label col-sm-2' %>
         </div>
         <div class="col-sm-8">
            <div class="form-group">
               <%= form.number_field :experience, class: 'form-control form_input' %>
               <label for="portfolio_experience" class="error error-title"></label>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="col-sm-4">
            <%= form.label :about, class: 'control-label col-sm-2' %>
         </div>
         <div class="col-sm-8">
            <div class="form-group">
               <%= form.text_area :about, class: 'form-control text_area' %>
               <label for="portfolio_about" class="error error-title"></label>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-12">
      <div class="col-sm-6">
         <div class="col-sm-4">
            <%= form.label :avatar, "Logo", class: 'control-label col-sm-2' %>
         </div>
         <div class="col-sm-8">
            <div class="form-group">
               <%= form.file_field :avatar, class: "partner-avatar" %>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="col-sm-4">
            <%= form.label :address, class: 'control-label col-sm-2' %>
         </div>
         <div class="col-sm-8">
            <div class="form-group">
               <%= form.text_area :address, class: 'form-control text_area' %>
               <label for="portfolio_address" class="error error-title"></label>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-12">
      <div class="col-sm-6">
         <div class="col-sm-4">
            <%= form.label :documents, "Id_Card", class: 'control-label col-sm-2' %>
         </div>
         <div class="col-sm-8">
            <div class="form-group">
               <%= form.file_field :documents, multiple: true, class: "partner-avatar" %>
            </div>
         </div>
      </div>
   </div>
   <div class="col-sm-12">
      <div class="actions">
         <%= form.submit "Update", :class=> 'btn btn-primary w3l_header_right', id: 'update_portfolio' %>
      </div>
   </div>
   <% end %>
</div>
