<hr>
<hr>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Your PortFolio Details</h3>
    </div>
    <div class="panel-body">
      <p id="notice"><%= notice %></p>
      <p>
        <strong>Service:</strong>
          <%= @portfolio.service.try(:name) %>
      </p>
      <p>
        <strong>Gender:</strong>
        <%= @portfolio.gender == '2' ? "Male" : "Female" %>
      </p>
      <p>
        <strong>About:</strong>
        <%= @portfolio.about %>
      </p>
      <p>
        <strong>Experience:</strong>
        <%= @portfolio.experience %>
      </p>
      <p>
        <strong>Education:</strong>
        <%= @portfolio.education %>
      </p>
      <%= link_to 'Edit', edit_partner_portfolio_path(@portfolio) %> |
      <%= link_to 'Back', partner_portfolio_path %>
    </div>
  </div>
</div>

