<h3 class="tittle">Our Services</h3>
<div class="row">
  <% @services.each do |service|%>
    <div class="card" style="height: 386px; width: 23%; margin-bottom: 25px;">
      <%if current_user%>
        <%= link_to dashboard_path do %>
          <div class="card__front">
            <span class="card__text">
              <div class="img-grid">
                <%= image_tag("#{service.photo}", :class => "service-image") %>
                <div class="car_description">
                  <h4><a href="/dashboard"><%=service.name%></a></h4> <br/>
                  <div class="date"><span class="fa fa-clock-o"></span> <%= service.created_at.strftime("%b %d, %Y") %>
                  </div>
                </div>
              </div>
            </span>
          </div>
        <% end %>
      <% else %>
        <a data-target="#login" data-toggle="modal" href="#">
          <div class="card__front">
            <span class="card__text">
              <div class="img-grid">
                <%= image_tag("#{service.photo}", :class => "service-image") %>
                <div class="car_description">
                  <h4><a href="/dashboard"><%=service.name%></a></h4> <br/>
                  <div class="date"><span class="fa fa-clock-o"></span> <%= service.created_at.strftime("%b %d, %Y") %></div>
                </div>
              </div>
            </span>
          </div>
        </a>
      <% end %>
    </div>
  <% end %>
</div>
