!!!
/
  author: W3layouts
  author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
%html
  %head
    %title Catchy Carz a classified ads Category Flat Bootstrap Responsive Website Template | Home :: w3layouts
    / for-mobile-apps
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Catchy Carz Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, \nSmartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design", :name => "keywords"}/
  %body
    / /banner-section
    = render :partial => 'common/header'
    #myModal1.modal.ab.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.about{:role => "document"}
        .modal-content.about
          .modal-header
            %button.close.ab{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            .discount
              %h3 Get Offers &amp; Discount of
              %p Catchy Carz Brand VL in New York
              %form{:action => "#", :method => "post"}
                %select#country5.frm-field.required{:onchange => "change_country(this.value)"}
                  %option{:selected => "selected", :value => "-1"} -Buying Time Period-
                  %option{:value => "0"} Just Researching
                  %option{:value => "7"} 1 Week
                  %option{:value => "14"} 2 Weeks
                  %option{:value => "30"} 1 Month
                  %option{:value => "60"} 2 Months
                %input.Pin.code{:name => "pin code", :placeholder => "Pin code", :required => "", :type => "text"}/
          .modal-body.about
            .dis-contact
              %h4 Contact Information
              %form{:action => "#", :method => "post"}
                %input.name.active{:name => "name", :placeholder => "Name", :required => "", :type => "text"}/
                %input.email{:name => "email", :placeholder => "Email", :required => "", :type => "text"}/
                %input.phone{:name => "phone", :placeholder => "Phone", :required => "", :type => "text"}/
                .d-c
                  %span.checkbox1
                    %label.checkbox
                      %input{:checked => "checked", :name => "", :type => "checkbox"}/
                      = succeed "I" do
                        %i
                %input{:type => "submit", :value => "Find Offers"}/
    / //discounts
    / //sign-up
    = render :partial => 'devise/registrations/sign_up_form'
    = render :partial => 'devise/sessions/login_form'
    / //sign-up
    / /location
    #myModal4.modal.ab.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.sign{:role => "document"}
        .modal-content.about
          .modal-header.one
            %button.close.sg{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            .discount.one
              %h3 Please Tell Us Your City
          .modal-body.about
            .login-top.sign-top.location
              %form{:action => "#", :method => "post"}
                %select#country12.frm-field.required{:onchange => "change_country(this.value)"}
                  %option{:value => "null"} Select City
                  %option{:value => "city"} Delhi
                  %option{:value => "city"} Banglore
                  %option{:value => "city"} Noida
                  %option{:value => "city"} Pune
                  %option{:value => "city"} Jhansi
                  %option{:value => "city"} Lucknow
                  %option{:value => "city"} Goa
                  %option{:value => "city"} Mumbai
                  %option{:value => "city"} Gujrat
                  %option{:value => "city"} Hyderabad
                  %option{:value => "city"} Gorakhpur
                  %option{:value => "city"} Patna
    / //location
    / //banner-section
    / /featured_section
    .featured_section_w3l
      .container
        %h3.tittle FEATURED CARS
        = render :partial => 'feature'
    / //featured_section
    / /select-cars-agile
    .select-cars-agile
      .container
        .grid.cars-main
          .col-md-7.slide-show-w3l
            / //screen-gallery
            / %h3.tittle.top Latest Services
            / %h6.sub Great Prices. Great Timing. Great Service.
            / .car-view-slider
            /   %ul#flexiselDemo
            /     %li
            /       %a{:href => "upcoming.html"}
            /         %img{:alt => "", :src => "assets/n2.jpg"}/
            /         .caption
            /           %h3
            /             %a{:href => "upcoming.html"} Body Spa
            /           %span Full Spa
            /     %li
            /       %a{:href => "upcoming.html"}
            /         %img{:alt => "", :src => "assets/n1.jpeg"}/
            /         .caption
            /           %h3
            /             %a{:href => "upcoming.html"} UniSex Salon
            /           %span Hair Cutting
            /     %li
            /       %a{:href => "upcoming.html"}
            /         %img{:alt => "", :src => "assets/n3.jpg"}/
            /         .caption
            /           %h3
            /             %a{:href => "upcoming.html"} Car Service
            /           %span Car Service
            /     %li
            /       %a{:href => "upcoming.html"}
            /         %img{:alt => "", :src => "assets/n4.jpg"}/
            /         .caption
            /           %h3
            /             %a{:href => "upcoming.html"} Rrefrigerator Service
            /           %span Rrefrigerator Service
            / //screen-gallery
          / .col-md-5.new-car-used
          /   %h3.tittle.top Happy Clients
          /   %h6.sub Clients says wow!
          /   .used-one
          /     %figure.effect-zoe
          /       %a{:href => "used.html"}
          /         %img{:alt => "Used Car", :src => "assets/used_car.jpg"}/
          /       %figcaption
          /         %h4
          /           Great
          /           %span Service
          /         %p.icon-links
          /           %a{:href => "#"}
          /             %i.glyphicon.glyphicon-heart-empty
          /           %a{:href => "#"}
          /             %i.glyphicon.glyphicon-eye-open
          /           %a{:href => "#"}
          /             %i.glyphicon.glyphicon-paperclip
          /         %p.description Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          /   .clearfix
          /   .used-one.second
          /     %figure.effect-zoe
          /       %a{:href => "used.html"}
          /         %img{:alt => "Used Car", :src => "assets/used_car1.jpg"}/
          /       %figcaption
          /         %h4
          /           Always
          /           %span Available
          /         %p.icon-links
          /           %a{:href => "#"}
          /             %i.glyphicon.glyphicon-heart-empty
          /           %a{:href => "#"}
          /             %i.glyphicon.glyphicon-eye-open
          /           %a{:href => "#"}
          /             %i.glyphicon.glyphicon-paperclip
          /         %p.description Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          / .clearfix
    / /bottom-banner
    .banner-bottom
      .container
        .bottom-form
          .inner-text
            %form{:action => "#", :method => "post"}
              %h3 Choose Your Best Service
              .best-hot
                %h5 Name
                %input.name.active{:placeholder => "Name", :required => "", :type => "text"}/
              .best-hot
                %h5 Email
                %input.email{:placeholder => "Email", :required => "", :type => "text"}/
              .section_drop2
                %h5 City
                %select#country6.frm-field.required{:onchange => "change_country(this.value)"}
                  %option{:value => "null"} Select City
                  %option{:value => "city"} Delhi
                  %option{:value => "city"} Banglore
                  %option{:value => "city"} Noida
                  %option{:value => "city"} Pune
                  %option{:value => "city"} Jhansi
                  %option{:value => "city"} Lucknow
                  %option{:value => "city"} Goa
                  %option{:value => "city"} Mumbai
                  %option{:value => "city"} Gujrat
                  %option{:value => "city"} Hyderabad
                  %option{:value => "city"} Gorakhpur
                  %option{:value => "city"} Patna
              %input{:type => "submit", :value => "Book Now"}/
    / //bottom-banner
    / /slider1
    = render :partial => 'slider'
    / //slider
    / Services
    .updates-agile
      .container
        %h3.tittle Latest Service Updates
        .inner_tabs
          .bs-example.bs-example-tabs{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
            %ul#myTab.nav.nav-tabs{:role => "tablist"}
              %li{:role => "presentation"}
                %a#updates-tab{"aria-controls" => "updates", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#updates", :role => "tab"} Top Rated
              %li{:role => "presentation"}
                %a#expert-tab{"aria-controls" => "expert", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#expert", :role => "tab"} Top Reviews
              %li.active{:role => "presentation"}
                %a#video-text-tab{"aria-controls" => "video-text", "aria-expanded" => "true", "data-toggle" => "tab", :href => "#video-text", :role => "tab"} Videos
            #myTabContent.tab-content
              #updates.tab-pane.fade{"aria-labelledby" => "updates-tab", :role => "tabpanel"}
                .news-updates
                  .update-info-w3l
                    .col-md-5.tab-image
                      .view.second-effect
                        %a{:href => "single.html", :title => "Mehndi Printing"}
                          %img.img-responsive{:alt => "", :src => "assets/u1.jpeg"}/
                          .mask
                            %p
                              Mehndi
                              %span Printing
                    .col-md-7.tab-info.one
                      %h4
                        %a{:href => "single.html"} Mehandi printing and beauty Spa.
                      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                      %a.read.hvr-shutter-in-horizontal{:href => "single.html"} Read More
                    .clearfix
                  .update-info-w3l.two
                    .col-md-7.tab-info.two
                      %h4
                        %a{:href => "single.html"} Service is a call ahead, Anytime anywhere.
                      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                      %a.read.hvr-shutter-in-horizontal{:href => "single.html"} Read More
                    .col-md-5.tab-image
                      .view.second-effect
                        %a{:href => "single.html", :title => "Get Service"}
                          %img.img-responsive{:alt => "", :src => "assets/u2.jpg"}/
                          .mask
                            %p
                              Get
                              %span Service
                    .clearfix
              #expert.tab-pane.fade{"aria-labelledby" => "expert-tab", :role => "tabpanel"}
                .news-updates
                  .update-info-w3l
                    .col-md-5.tab-image
                      .view.second-effect
                        %a{:href => "single.html", :title => "Body SPA"}
                          %img.img-responsive{:alt => "", :src => "assets/u3.jpg"}/
                          .mask
                            %p
                              Body
                              %span Spa
                    .col-md-7.tab-info
                      %h4
                        %a{:href => "single.html"} Full body Spa at door step.
                      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                      %a.read.hvr-shutter-in-horizontal{:href => "single.html"} Read More
                    .clearfix
                  .update-info-w3l.two
                    .col-md-7.tab-info.one
                      %h4
                        %a{:href => "single.html"} Get Carpenter work done @ home or office.
                      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                      %a.read.hvr-shutter-in-horizontal{:href => "single.html"} Read More
                    .col-md-5.tab-image
                      .view.second-effect
                        %a{:href => "single.html", :title => "Wood Work"}
                          %img.img-responsive{:alt => "", :src => "assets/u4.jpeg"}/
                          .mask
                            %p
                              Wood
                              %span Work
                    .clearfix
              #video-text.tab-pane.fade.active.in{"aria-labelledby" => "video-text-tab", :role => "tabpanel"}
                .news-updates
                  .update-info-w3l
                    .col-md-5.tab-image
                      %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/93glF0SGq6A"}
                    .col-md-7.tab-info
                      %h4
                        %a{:href => "single.html"} AC Repairing - AC Repair & Maintenance.
                      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                      %a.read.hvr-shutter-in-horizontal{:href => "single.html"} Read More
                    .clearfix
                  .update-info-w3l.two
                    .col-md-7.tab-info.two
                      %h4
                        %a{:href => "single.html"} Remove Car Dent: Repairing Volvo Car Dent. 
                      %p Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                      %a.read.hvr-shutter-in-horizontal{:href => "single.html"} Read More
                    .col-md-5.tab-image
                      %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/uIZIMCUOBOE"}
                    .clearfix
    .clearfix
    / //Services
    / footer
    
    = render :partial => 'common/footer'
    
    :javascript
      $(window).load(function() {     
                $("#flexiselDemo").flexisel({
                visibleItems:1,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed:1000,       
                pauseOnHover:true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: { 
                  portrait: { 
                    changePoint:480,
                    visibleItems: 1
                  }, 
                  landscape: { 
                    changePoint:640,
                    visibleItems: 1
                  },
                  tablet: { 
                    changePoint:768,
                    visibleItems: 1
                  }
                }
              });
              });
    :javascript
      $(window).load(function() {     
                $("#flexiselDemo1").flexisel({
                visibleItems: 4,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,        
                pauseOnHover:true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: { 
                  portrait: { 
                    changePoint:480,
                    visibleItems: 1
                  }, 
                  landscape: { 
                    changePoint:640,
                    visibleItems: 2
                  },
                  tablet: { 
                    changePoint:768,
                    visibleItems: 3
                  }
                }
              });
              });
    / <script type="text/javascript" src="js/jquery.flexisel.js"></script>
    / <script src="js/bootstrap.js"></script>
