<script src="/assets/jquery.raty.js"></script>
<link href="/assets/jquery.raty.css" rel="stylesheet" type="text/css">
<div class="container">
   <%=back_button_link(dashboard_path) %>
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3>Give Your Feedback</h3>
      </div>
      <div class="panel-body">
        <%= form_for @feedback do |f| %>
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <div class="form-group">
                <label>Rating</label>
                <div id="default"></div>
                <%=f.hidden_field :rating, value: '' %>
                <%=f.hidden_field :portfolio_id, value: params[:portfolio_id] %>
                <%=f.hidden_field :service_request_id, value: params[:request_id] %>
              </div>
            </div>
          </div>
          <div class="row"> 
            <div class="col-md-4 col-md-offset-1">
              <div class="form-group">    
                <label>Remarks</label>
                <%= f.text_area :description, class:"form-control"  %>
              </div>
            </div>
          </div>      
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <div class="form-group">
                <%=f.submit "Post",  class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>  