<% @users.each do |user| %>
  <tr>
    <td><%= get_full_name(user) %></td>
    <td><%=users_city(user) %></td>
    <td><%=l user.created_at %></td>
    <td><%=get_rating_data(user)%></td>
    <td>
      <%= link_to t('.show', :default => t("helpers.links.show")),
                  partner_details_path(user), :class => 'btn btn-default btn-xs' %>
      <%= link_to "#{user.portfolio.reverse_portfolio_status}", manage_portfolio_status_admin_user_path(user, :value => !user.portfolio.status),  method: :put, :remote => true, :class => 'btn btn-default btn-xs'  %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  admin_user_path(user),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger', style: "color:#fff" %>
      <%= link_to "Service requests", partner_service_request_path(user),  :class => 'btn btn-default btn-xs'  %>
    </td>
  </tr>
<% end %>