<div class="container">
  <div class="row">
    <div class="add-new">
      <%=back_button_link(admin_users_path) %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Service Request Details</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <th>Service Name</th>
          <th>User</th>
          <th>Address</th>
          <th>Company</th>
          <th>Time Slot</th>
          <th>Service Request Number</th>
          <th>Status</th>
          <th>Rating</th>
        </thead>
        <tbody>
          <% @service_requests.each do |request|%>
            <tr>
              <td><%=request.service_name %></td>
              <td><%=request.user_name %></td>
              <td class="td_width"><%=request.user_address %></td>
              <td><%=request.portfolio.company_name %></td>
              <td><%=request.service_time %></td>
              <td><%=request.service_request_number %></td>
              <td><b><%=request.service_status %></b></td>
              <td><%=get_service_request_rating(request)%></td>
            </tr>
          <% end %> 
        </tbody>
      </table>
    </div>
  </div>
  <div class="pagination">
    <%=will_paginate @service_requests %>
  </div>
</div>
