<div class="main-container">
  <div class="header-container">
    <div class="row">
      <div class="#">
        <h1>User details</h1>
      </div>
      <hr>
      <div class="main-container">
        <dl class="dl-horizontal" style="fl">
          <dt><strong>Name:</strong></dt>
          <dd><%= get_full_name(@user) %></dd>
          <dt><strong>Email:</strong></dt>
          <dd><%= @user.email %></dd>
          <dt><strong>Phone No:</strong></dt>
          <dd><%= @user.phone %></dd>
          <dt><strong>Address:</strong></dt>
          <% @user.addresses.each do |address| %>
          <dd><%= address.complete_address %></dd>   
          <% end %>       
        </dl>
        <div class="row">
        <div class="col-md-4 col-md-offset-1">
          <%= link_to t('.back', :default => t("helpers.links.back")),
                        admin_users_path, :class => 'btn btn-default'  %>
          
        </div>
      </div>
    </div>
  </div>
</div>