%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #wrapper
      %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
        %ul.nav.navbar-nav.navbar-left.home-container
          %p.nav-home
            %a{:href => "/"}
              %i.fa.fa-home.fa-fw
              R-services
        %ul.nav.navbar-right.navbar-top-links.no-margin-force
          %dropdown
            %button.dropdown-toggle{"data-toggle" => "dropdown", :class => "header-right-toggle"}
              %i.fa.fa-user.fa-fw
              = current_user.full_name
              %span.caret.tog-margin
            %ul.dropdown-menu
              %li
                #{dashboard_link(current_user)}
              %li
                #{link_to "Sign out", destroy_user_session_path, :method => :delete}
    - if current_user.admin?
      = render :partial => "shared/admin_left"
    - elsif current_user.employee?
      = render :partial => "shared/employee_left"  
    - else
      = render :partial => "shared/partner_left"
    = render :partial => "shared/flash_message", :locale => {:flash => flash }              
    = yield

