!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rservices
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"}
    %script{:src => "/assets/bootstrap-datetimepicker.min.js"}
  %body
    %div#generic_modal_area
    #wrapper
      %nav.nav_header.navbar-inverse.navbar-fixed-top
        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-left.home-container
            %p.nav-home
              %a{:href => "/"}
                %i.fa.fa-home.fa-fw
                R-services
          .navbar-right.nav_bg_color.mo-margin
            .dropdown
              %button.dropdown-toggle{"data-toggle" => "dropdown", :class => "header-right-toggle"}
                %i.fa.fa-user.fa-fw
                #{current_user.full_name}
                %span.caret.tog-margin
              %ul.dropdown-menu
                %li
                  #{dashboard_link(current_user)}
                %li
                  #{link_to "Sign out", destroy_user_session_path, :method => :delete}
        - else
          %ul.navbar-right.navbar-top-links
            %li
              %a{"data-target" => "#myModal2", "data-toggle" => "modal", :href => "#"}
                Sign Up 
            %li
              %a{"data-target" => "#login", "data-toggle" => "modal", :href => "#"}
                Sign In
    - unless params[:action] == "index" && params[:controller] == 'home'
      = render :partial => "shared/user_left" if current_user
    = render :partial => "shared/flash_message", :locale => {:flash => flash }            
  
    = yield

