%head
  %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
  / <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #wrapper
      / Navigation
      %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
        .navbar-header
          %a.navbar-brand{:href => "/"}= current_user.try(:first_name)
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %ul.nav.navbar-nav.navbar-left.navbar-top-links
          %li
            %a{:href => "#"}
              %i.fa.fa-home.fa-fw
              RSI Clap
        -if current_user.present?
          %ul.nav.navbar-right.navbar-top-links
            %li
              = link_to "Sign out", destroy_user_session_path, :method => :delete
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-user.fa-fw
                = current_user_role(current_user)
              %ul.dropdown-menu.dropdown-user
                %li
                  %a{:href => "#"}
                    %i.fa.fa-sign-out.fa-fw
                    Logout
        -else
          = link_to "Log In",  new_user_session_path , :method => :get, class: "pull-right"        
        
      = yield 
