!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rservices
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div#generic_modal_area
    - flash.each do |key, value|
      / %div{:class => "alert alert-#{key}"}= value
    #wrapper
      %nav.nav_header.navbar-inverse.navbar-fixed-top
        - if user_signed_in?
          %ul.nav.navbar-nav.navbar-left
            %li
              %a{:href => "/"}
                %i.fa.fa-home.fa-fw
                R-services
            / #{link_to "R-services", dashboard_path}
          .navbar-right.nav_bg_color{:style => "margin:0% 0%"}
            .dropdown
              %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button", :style => "height:50px; width:160px;"}
                %i.fa.fa-user.fa-fw
                #{current_user.full_name}
                %span.caret{ :style => "float: right; margin: 6%;"}
              %ul.dropdown-menu
                %li
                  - if current_user.partner?
                    %a{:href => "/partner/portfolio"} Dashboard
                  - elsif current_user.admin?
                    %a{:href => "/admin/services"} Dashboard
                  - else
                    %a{:href => "/dashboard"} Dashboard
                %li
                  #{link_to "Sign out", destroy_user_session_path, :method => :delete}
        - else
          %ul.navbar-right.navbar-top-links
            %li
              %a{"data-target" => "#myModal2", "data-toggle" => "modal", :href => "#"}
                Sign Up 
            %li
              %a{"data-target" => "#login", "data-toggle" => "modal", :href => "#"}
                Sign In
    - unless params[:action] == "index" && params[:controller] == 'home'
      = render :partial => "shared/user_left" if current_user
    = yield
