!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rservices
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div#generic_modal_area
    #wrapper
      %nav.nav_header.navbar-inverse.navbar-fixed-top
        - if user_signed_in?
          .navbar-left.navbar-top-links.nav_bg_color
          - if current_user.admin?
            #{link_to "Admin", admin_services_path}
          - if current_user.partner?
            #{link_to "Partner", partner_portfolio_path}
          - else
            #{link_to "Dashboard", dashboard_path}
          .navbar-right.navbar-top-links.nav_bg_color
            Signed in as #{current_user.email}. Not you?
            #{link_to "Sign out", destroy_user_session_path, :method => :delete}
        - else
          %ul.navbar-right.navbar-top-links
            %li
              %a{"data-target" => "#myModal2", "data-toggle" => "modal", :href => "#"}
                Sign Up 
            %li
              %a{"data-target" => "#login", "data-toggle" => "modal", :href => "#"}
                Sign In
    = render :partial => "shared/user_left"
    = yield
